.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 320px;
}

.wrapper .image {
    transform: translate(-10px) rotate(90deg);
    transform-origin: bottom right;
    margin-top: -300px;
    margin-bottom: 0px;
}

.values {
    position: relative;
    height: 20px;
}

.values span {
    font-size: 90%;
    position: absolute;
    top: -10px;
    border-left: 1px solid darkgrey;
    padding-left: 3px;
    line-height: 0px;
    padding-top: 10px;
}

.left {
    left: 0%;
}

.middle {
    left: 50%;
}

.right {
    left: 100%;
}
