.all {
    overflow: hidden;
    text-align: center;
}

.allColours {
    margin-left: auto;
    margin-right: auto;
}

.image {
    display: inline-block;
    position: relative;
    top: 5px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    margin-bottom: 0px;
}

.belowabove {
    display: inline-block;
}

.ticks {
    position: relative;
    height: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.ticks span {
    font-size: 90%;
    position: absolute;
    top: 0px;
    border-left: 1px solid darkgrey;
    padding-left: 3px;
    line-height: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.label {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -0.4rem;
}

.note {
    font-size: 80%;
    text-align: center;
    /*margin-top: -0.75rem;*/
}
